<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.individualka">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Individualka">
        <activity
            android:name=".Ten"
            android:exported="false"/>
        <activity
            android:name=".NIne"
            android:exported="false" />
        <activity
            android:name=".Eight"
            android:exported="false" />
        <activity
            android:name=".Seven"
            android:exported="false" />
        <activity
            android:name=".Six"
            android:exported="false" />
        <activity
            android:name=".Five"
            android:exported="false" />
        <activity
            android:name=".Four"
            android:exported="false" />
        <activity
            android:name=".Three"
            android:exported="false" />
        <activity
            android:name=".Two"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>